body{
	background-image: url('../image/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

h1{
	text-align: center;
	font-family: monospace;
	font-size: 50px;
}

#calculator {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #E5BA73;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#display {
  width: 95%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: right;
}

table {
  width: 100%;
}

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border-radius: 50px;
  border: 2px solid #C58940;
  background-color: #FAEAB1;
  margin: 2px;
}

button:hover {
  background-color: #C58940;
  color: white;
}

button:active {
  background-color: #FAF8F1;
  color: black;
}

button[id = "colspan"]{
	width: 100%;
}

input{
	border-radius: 5px;
	border: 2px solid #C58940;
}